<h1>Quiz Attempt</h1>

<%#= render 'form', attempt: @attempt %>

<div class="quiz">

    <h3>
    (<%= @currentQuestion['id'] %>) <%= @currentQuestion['question'] %>
    </h3>
    <hr>

      
    <%= form_with url: "quiz", method: :get do |form| %>
      <% 
        answers = @currentQuestion['answers']
        answers.each do |key, value| 
          if value then %>
              <div class="checkboxes">
                <%= form.radio_button :answer, value %> 
                <%= form.label :autolyse, value, :value => value  %>
                
              </div>
        <% end %>
  
  
      <% end %>
      <%= form.submit "Submit", style:'height:40px;width:100%;' %>
    <% end %>

</div>