<h1>Quiz Attempt</h1>

<H4 id="notice"><%= notice %></H4>

<div class="quiz">

    <h4>(<%= @currentQuestion['id'] %>) <%= @currentQuestion['category'] %></h4>
    <h3>
     <%= @currentQuestion['question'] %>
    </h3>
    <hr>

      
    <%= form_with url: "/attempts/quiz", method: :post do |form| %>
      <% answers = @currentQuestion['answers'] %>
        
      <% answers.each do |key, value| 
          if value then %>
              <div class="checkboxes">
                <% if !@isMultipleChoice %>
                  <%= form.radio_button :answer, key %> 
                <% else %>
                  <%= form.check_box :answer %> 
                <% end %>
                <%= form.label :autolyse, value, :value => value  %>
                
              </div>
        <% end %>

      <% end %>
      <%= form.submit "Submit", style:'height:40px;width:100%;' %>
    <% end %>

</div>