<h1>Quiz Result</h1>

<H4 id="notice"><%= notice %></H4>

<div class="quiz">

    <h3>
      This time, <%= @message %>
    </h3>
    <hr>
    
    <% for result in @preResults.reverse do %>
      <%= result %> <br>
    <% end %>
      
    <%= form_with url: "/attempts/quiz", method: :get do |form| %>
      <%= form.submit "Reload", style:'height:40px;width:100%;' %>
    <% end %>

</div>