<!DOCTYPE html>
<html>
  <head>
    <title>Assign2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="Header">
      <h2 id="title">Abrar Al-Sagheer, s3707180@student.rmit.edu.au</h2>
    </div>
    

    
    <%= yield %>

    <div class="wrapper">
    <div class="footer">
      
      <div class="footer-items"> 
        <p>Highest Level Achieved: 80+  LEVEL</p>
      </div>
      
      <div class="footer-items"> 
        <a href="https://www.facebook.com">
          <img src="http://icons.iconarchive.com/icons/sicons/basic-round-social/64/facebook-icon.png" alt="facebook" style='height:40px;width:40px;'/>
        </a>
      </div>
      
      <div class="footer-items"> 
        <a href="https://www.twitter.com">
          <img src="https://cdn3.iconfinder.com/data/icons/social-media-circle/512/circle-twitter-128.png" alt="twitter" style='height:40px;width:40px;'/>
        </a>
      </div>

      <div class="footer-items"> 
        <a href="https://www.linkedin.com">
          <img src="https://www.uidownload.com/files/1005/897/92/blue-linkedin-linkedin-linkedin-logo-icon.png" alt="linkedin" style='height:40px;width:40px;'/>
        </a>
      </div>

    </div>
  </div> 
  </body>  
</html>


